@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(173, 173, 173);
}

/* body {
  max-width: 1400px;
  margin: 0 auto !important;
  float: none !important;
} */